.home-page {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  flex-grow: 1;
  padding: 1rem 1rem 0 1rem;
  background-image: linear-gradient(to bottom, #87ceeb, #4682b4);
  display: flex;
  flex-direction: column;
}

.metric-system-toggle {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 900px) {
  .home-page {
    height: fit-content;
  }
  .current-weather-container-grid {
    height: fit-content !important;
  }
  .extended-forecast-container-grid {
    height: fit-content !important;
    padding-bottom: 1rem !important;
  }
}
